@font-face {
    font-family: Gilroy-Bold;
    src: url('./fonts/fonts/Gilroy-Bold.woff2');
}
@font-face {
    font-family: Gilroy-Medium;
    src: url('./fonts/fonts/Gilroy-Medium.woff2');
}
/* @font-face {
    font-family: Gilroy-Regular;
    src: url('./fonts/fonts/Gilroy-Regular.woff2');
} */
@font-face {
    font-family: Gilroy-Semibold;
    src: url('./fonts/fonts/Gilroy-Semibold.woff2');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: 0; 
}

body {
    scroll-behavior: smooth; 
    background: #fff;
    color: #000;
}

img {
    display: block;
    max-width: 100%; 
} 

.container {
    max-width: 1170px;
    margin: 0 auto;
}


.hed{
    margin-top: 40px;
    margin-bottom: 84px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: flex;
    width: 533px;
    justify-content: space-between;
}

.navigation a {
    font-family: Gilroy-Semibold;
    font-weight: 400;
    font-size: 14px;

    
}
.navigation a:first-child {
    color: #f25822;
}

.main{
}

.mainContent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 162px;
}

.mainContent__leftSide{
    max-width: 522px;
}

.mainContent__leftSide h1{
    font-family: Gilroy-Bold;
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 17px;
}

.mainContent__leftSide p{
    font-family:  Gilroy-Medium;
    font-weight: 400;
    font-size: 20px;
    color: #888;
    margin-bottom: 37px;
    max-width: 466px;
}

.mainContent__leftSide-btnList{
    display: flex;
    align-items: center;
    width: 302px;
    justify-content: space-between;
}

.mainContent__leftSide-btnList button{
    padding: 15px 35px;

    border-radius: 50px;

    font-family: Gilroy-Bold;
    font-weight: 400;
    font-size: 15px;
    
    border: none;
    cursor: pointer;
}
.mainContent__leftSide-btnList button:first-child {
    background: #f25822;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    color: #fff;


}
.mainContent__leftSide-btnList button:nth-child(2) {

    color: #aaa;
    background: #fff;

}

.logos{
    padding: 97px 0;
    display: flex;
    justify-content: space-between;
}

.cardList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* .cardList:first-child{
    
} */

.card{
    padding: 40px 30px 25px;
}